# Custom ignore files
build/
daaaaaaaaaaa
docs/
problem_statement/
tests/
time_analysis/
visualisations/images/
visualisations/inputs/
visualisations/outputs/
visualisations_tests/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app