# Custom ignore files
daaaaaaaaaaa
/problem_statement/*.pdf
/problem_statement/*.rar
build/
visualisations/images/
visualisations/inputs/
visualisations/outputs/
visualisations_tests/
time_analysis/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app